<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
     
RewriteRule . index.php [L]

#RewriteCond %{HTTP_HOST} ^yyuc.net [NC]
#RewriteRule ^(.*)$ http://www.yyuc.net/$1 [R=301,NC,L]

</IfModule>